.cursor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  pointer-events: none;
  transform-style: preserve-3d;
  mix-blend-mode: normal;

  .cursorBall {
    position: absolute;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform-style: preserve-3d;

    &::before {
      content: "";
      position: absolute;
      top: -50%;
      left: -50%;
      display: block;
      width: inherit;
      height: inherit;
      perspective: 1px;
      transform-style: preserve-3d;
      border-radius: 50%;
    }
  }
}
